.ant-slider-rail {
  height: 8px !important;
  background-color: rgb(80, 80, 80) !important;
  border-radius: 4px !important;
}

.ant-slider-track {
  height: 8px !important;
  background-color: green !important;
}

.ant-slider-handle {
  height: 14px !important;
  weight: 14px !important;
  margin-top: -3px !important;
}

.slide-fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.slide-fade li.show {
  opacity: 1;
}
