

#logoitem{
    width:100px;
    height:100px;
}

#togglebutton{
    border-radius: 2px;
    width: 80px;
    height: 45px;
    margin-bottom: -3px !important;    
}

#sidebarmenu{
    height: 900px;
    
}